#aml-investment-criteria {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

#aml-investment-criteria h1 {
    color: var(--blue)
}

#aml-investment-criteria p {
    font-weight: 300;
    line-height: 1.5rem;
}

#aml-investment-criteria ul {
    list-style-type: square;
}

#aml-investment-criteria li {
    font-weight: 300;
    line-height: 1.5rem;
}

#aml-investment-criteria li::before {
    color: var(--blue)
}

#aml-criteria-divider {
    background: var(--blue);
    height: 5px;
    width: 200px;
    margin-top: 50px;
}

@media only screen and (max-width: 800px) {
    #aml-investment-criteria {
        margin: 0 35px;
        width: auto;
    }
    #aml-investment-critera p {
        font-size: 1rem;
        line-height: 1.5rem;
    }
}