.aml-contact-me {
    width: 100%;
    background-image: url('../../../assets/contact-us.jpg');
    height: 650px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

#aml-contact-screen {
    background: #1c3560bb;
    height: 100%;
    width: 100%;
}

#aml-contact-content {
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
}

#aml-contact-content h1 {
    color: white;
    font-size: 2rem;
    padding-top: 50px;
    text-align: center;
}

#aml-contact-content p {
    max-width: 700px;
    margin: 20px auto;
    font-size: 1rem;
    color: white;
    line-height: 1.5rem;
}

#aml-contact-divider {
    height: 5px;
    width: 100px;
    background: white;
    margin: 0 auto;
}

#aml-message-input{
    display: flex;
    flex-direction: column;
    max-width: 700px;
    margin: 0 auto;
}

#aml-message-input > span {
    display: flex;
    width: 100%;
}

#aml-message-input > textarea {
    flex: 1;
    margin: 0 10px 10px;
    background: #00000080;
    border: none;
    border-radius: 5px;
    min-height: 200px;
    padding: 10px;
    color: white;
    font-size: 1rem;
    outline: none;
    font-family: 'Lato', sans-serif;
}

#aml-message-input > textarea::placeholder {
    font-family: 'Lato', sans-serif;
    color: lightgray;
}

#aml-message-input input {
    flex: 1;
    margin: 10px;
    background: transparent;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    background: #00000080;
    outline: none;
    color: white
}

#aml-message-input input::placeholder {
    color: lightgray
}

@media only screen and (max-width: 800px) {
    .aml-contact-me {
        height: 100%;
    }
    #aml-message-input > span {
        display: flex;
        flex-direction: column;
    }
    #aml-contact-content p {
        margin: 20px 35px;
    }
    #aml-message-input {
        margin: 0 30px;
    }
}

#aml-loading-screen {
    width: 100%;
    position: fixed;
    left: 0;
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-weight: 300;
    transition: top 300ms;
}

#aml-loading-screen::after {
    content: "Loading . . .";
    padding: 10px 20px;
    background: white;
    border-radius: 50px;
    box-shadow: 1px 1px 5px rgb(0,0,0,0.5);
}