.aml-header {
    width: 100vw;
    position: absolute;
    border-bottom: 1px solid rgba(190, 190, 190, 0.527);
    top: 0;
    z-index: 1;
}

#aml-header-navbar {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#aml-header-navs {
    display: flex;
    align-items: center;
}

#aml-header-navs > span {
    margin-left: 30px;
    color: white;
    font-size: 1.1rem;
    font-weight: 300;
    letter-spacing: 2px;
    cursor: pointer;
    transition: color 300ms;
}

#aml-header-navs > span:hover {
    color: var(--lightblue);
}

.aml-header img{
    filter: brightness(0) invert(1);
    padding: 10px 0;
}

#aml-header-nav {
    display: flex;
}
