.aml-member-view {
    position: fixed !important;
    z-index: 5;
    background: rgb(0,0,0,0.5);
    height: 100%;
    width: 100%;
    transition: opacity 300ms;
    justify-content: space-around;
    align-items: center;
    left: 0;
    top: 0;
    overflow: auto;
}

.aml-member-view i {
    position: absolute;
    top: 25px;
    cursor: pointer;
    padding: 5px;
    background: rgba(214, 214, 214, 0.5);
    border-radius: 100%;
    right: 25px;
}

#aml-member-view {
    display: grid;
    grid-template-columns: 150px 1fr;
    gap: 3rem;
    max-width: 1000px;
    margin: 20px;
    width: 100%;
    background: white;
    padding: 60px;
    border-radius: 20px;
    position: relative;
}

#aml-member-view img {
    max-width: 150px;
    border-radius: 100%;
}

#aml-member-view p {
    font-size: 1rem;
    line-height: 1.8rem;
    font-weight: 300;
}

#aml-member-view h1 {
    color: var(--blue);
    margin-bottom: 0px;
    margin-top: 0;
}

#aml-member-view h3 {
    font-weight: normal;
    margin-top: 10px;
}

#aml-member-view a {
    color: var(--blue);
}

@media only screen and (max-width: 930px) {
    .aml-member-view {
        background: white;
    }
    #aml-member-view {
        grid-template-columns: 1fr;
        grid-template-rows: 200px 1fr;
        padding: 0 30px;
        align-items: center;
        justify-items: center;
        gap: 0;
        height: 100%;
        position: static;
    }
    #aml-member-view a {
        padding-bottom: 35px;
    }
    #aml-member-view img {
        margin-bottom: 0;
    }
}

@media only screen and (max-height: 700px) {
    .aml-member-view {
        background: white;
    }
    #aml-member-view {
        height: 100%;
        position: static;
        padding: 0;
    }
    #aml-member-view img {
        margin-top: 20px;
    }
    #aml-member-view div {
        margin-top: 20px;
    }
}