@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

:root {
  --blue: #1c3560;
  --transblack: rgba(50, 48, 59, 0.767);
  --lightblue: rgb(140, 140, 255);
}

body {
  font-family: "Lato", sans-serif;
}