.aml-button {
    font-size: 1rem;
    padding: 10px 15px;
    font-family: 'Lato', sans-serif;
}

#white {
    color: white;
}

#trans-white {
    background: #ffffff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background 300ms;
    font-weight: bold;

}

#trans-white:hover {
    background: var(--lightblue);
}

#border-blue {
    color: var(--blue);
    border: 1px solid var(--blue);
    background: transparent;
    outline: none;
    cursor: pointer;
    border-radius: 2px;
    transition: background 300ms;
}

#border-blue:hover {
    background: var(--transblack);
}